<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangtao.mapper.WorkerMapper">
	<insert id="addWorker" parameterType="Worker">
		insert into
		workers(wid,wname,whear,workname,produces,addr,money,wtime,ntime)
		value(#{wid},#{wname},#{whear},#{workname},#{produces},#{addr},#{money},#{wtime},#{ntime});
	</insert>
</mapper>